.header {
    display: block;
    top: 0;
    position: fixed;
    left: 0;
    right: 0;
    z-index: 501;
    transition: $transition-base;
    padding: 0;
    //background-image: linear-gradient(to top, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 1));
    height: 72px;

    @include media-breakpoint-up(lg) {
        height: 60px;
    }

    &.collapsed {
        //background-color: $big-red;
        transition: $transition-base;
    }

    &__container {
        padding: 0;
        margin: 0 auto;
        max-width: 1920px;
        position: relative;
        height: 64px;
    }

    &__button-list {
        position: absolute;
        right: 1rem;
        top: 0;
        list-style: none;
        padding: 0;
        margin: 0;
        z-index: 501;
        display: flex;
        justify-content: center;
        display: -ms-flexbox;
        display: -webkit-flex;

        li {
            list-style: none;
            width: 100%;
            padding: 0.5rem 0.25rem;
        }

        &.mobile {
            li:nth-of-type(2) {
                div {
                    padding-left: 24px;
                }
            }
        }
    }

    &__links {
        &--social {
            list-style: none;
            padding: 1rem 0;
            margin: 0;
            position: relative;
            z-index: 3;
            width: 100%;
            display: none;

            @include media-breakpoint-up(sm) {
                display: block;
            }

            li {
                display: inline-block;
                text-align: center;
                width: 50px;

                @media (max-width: 399px) {
                    width: 30px;
                }

                .icon {

                    & > div {
                        width: 26px;
                        height: 26px;
                        display: inline-block;
                    }

                    &-facebook > div {
                        background: url('../images/icons/facebook-red.svg') no-repeat center center;

                        &:hover {
                            background: url('../images/icons/facebook-red.svg') no-repeat center center;
                        }
                    }

                    &-instagram > div {
                        background: url('../images/icons/instagram-red.svg') no-repeat center center;

                        &:hover {
                            background: url('../images/icons/instagram-red.svg') no-repeat center center;
                        }
                    }

                    &-twitter > div {
                        background: url('../images/icons/twitter-red.svg') no-repeat center center;

                        &:hover {
                            background: url('../images/icons/twitter-red.svg') no-repeat center center;
                        }
                    }

                    &-youtube > div {
                        background: url('../images/icons/youtube-white.svg') no-repeat center center;

                        &:hover {
                            background: url('../images/icons/youtube-red.svg') no-repeat center center;
                        }
                    }
                }
            }

            &.mobile {
                visibility: visible;
                margin: 0 auto;
                padding-left: 0;
                overflow: hidden;

                li {
                    display: inline-block;
                    width: 50px;
                    margin: 0;
                }
            }
        }
    }

    .play-icon {
        &:before {
            content: "";
            display: inline-block;
            width: 24px;
            height: 24px;
            left: 7px;
            top: 7px;
            position: absolute;
            background: url('../images/icons/small-play.svg') no-repeat center center;
        }
    }
}