.video {
  margin: 0 10px;
  padding: 0;

  .play-icon {
      margin: auto;
      position: absolute;
      top: 35%;
      left: 50%;
      margin-right: -50%;
      transform: translate(-50%, -50%);
    }
}