.btn {
    width: 260px;
    height: 50px;
    transition: $transition-base;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 5px;
    font-size: 1.5rem;
    display: block;
    cursor: pointer;
    font-family: "Helvetica Neue Condensed", Arial, sans-serif;
    margin: 0 auto;
    position: relative;

    a {
      font-family: "Helvetica Neue Condensed", Arial, sans-serif;
    }

    &--dark-gray {
        background: $big-dark-gray;
        color: $big-white;

        &:hover {
            background: $big-white;
            color: $big-dark-gray;
        }
    }

    &--red {
        width: 240px;
        background: url('../images/buttons/btn-240x50-bg.svg') no-repeat center center;
        background-size: 100%;
        color: $big-white;
        box-shadow: 2px 4px 4px 0 rgba(0,0,0,0.25);

        &:hover {
            //background: $big-white;
            //color: $big-red;
            color: $big-white;
            box-shadow: none;
        }
    }


    &--red-roundal {
        width: 100%;
        height: auto;
        // background: url('../images/buttons/roundel-new.png') no-repeat top center;
        background-size: 190px;
        color: $big-white;
        font-size: .9rem;


        @include media-breakpoint-up(sm) {
            height: 200px;
        }

        @media (min-width: 2100px) {
            height: 290px;
            background-size: auto;
        }

        &:hover {
            color: $big-white;
            box-shadow: none;
        }

        a {
          font-family: "Helvetica Neue Condensed", Arial, sans-serif;
          top: 15px;
          position: relative;
          font-size: 1.3rem;
        }
    }

    .offer-img {
        box-shadow: 2px 4px 4px 0 rgba(0, 0, 0, 0.25);
    }

    // &--red-offer {
    //     width: 100%;
    //     height: auto;
    //     background: url('../images/BIG_offer_Block.jpg') no-repeat center center;
    //     background-size: cover;
    //     color: $big-white;
    //     font-size: .9rem;
    //     box-shadow: 2px 4px 4px 0 rgba(0,0,0,0.25);


    //     @include media-breakpoint-up(sm) {
    //          width: 50%;
    //     }

    //     &:hover {
    //         color: $big-white;
    //         box-shadow: none;
    //     }

    //     a {
    //       font-family: "Avenir-Black", Arial, sans-serif;
    //     }
    // }

    &--short {
        background: url('../images/buttons/btn-120x40-bg.svg') no-repeat center center;
        width: 120px;
        height: 40px;
        background-size: 100%;
        color: $big-white;
        font-size: 1.2rem;
        line-height: 0.8;
        vertical-align: sub;
        padding: 0.75rem 0;
        @include media-breakpoint-up(md) {
            background: url('../images/buttons/btn-200x40-bg.svg') no-repeat center center;
            width: 180px;
            font-size: 1.2rem;
            line-height: 1.15;
            padding: 0.375rem 0.75rem;
        }
        @include media-breakpoint-up(lg) {
            font-size: 1.5rem;
            background: url('../images/buttons/btn-200x40-bg.svg') no-repeat center center;
            width: 200px;
        }

        &:hover {
            color: $big-white;
            box-shadow: none;
        }
    }
}

